/*universal rules*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&family=Special+Elite&display=swap');
    /*fonts are: 
    font-family: 'Courier Prime', monospace;
    font-family: 'Cutive Mono', monospace;
    font-family: 'Special Elite', cursive;*/

html {
    font-size: 16px;
    font-family: 'Courier Prime', monospace;
}

body {
    margin: 0px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
}

a {
    color:#000000;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

footer {
    margin-top:10.125rem;
    position:relative;
    text-align:center;
    background-color:#a3a3a3
}

/*Title banner*/
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #000000;
    top: 0;
    text-align:center;
    height: 6.18rem;
}

.heading {
    color: #eeeeee;

}

nav {
    display: flex;
    align-content: center;
    justify-content: center;

}

.nav-link {
    width:10%;
    color: #adaaaa;
}



/*Dropdown button*/
.dropbtn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor:pointer;
    font-size: 1rem;
    font-family: 'Courier Prime', monospace;
    color: #adaaaa;
    font-weight: 700;
    width:100%;
}

/*dropdown button hover and focus*/
.dropbtn:hover, .dropbtn:focus {
    color: #ff0000;
}

/*container <div> to position dropdown content*/
.dropdown {
    width:10%;
    position:relative;
    display:inline-block;
}

/*dropdown content is hidden by default*/
.dropdown-content {
    display: none;
    position: absolute;
    left: -100%;
    background-color: #000000;
    z-index:2;
    width:300%;
}

/*to show the dropdown menu, js adds this class*/
.show {
    display:block;
}

.dropdown-content .nav-link {
    margin: 1rem;
}

/*main element*/
.main-content {
    position: relative;
    top:10.125rem;
    padding: 0 2rem 0 2rem;
    
}

/*about me*/
#about-me {
    padding-bottom: 3rem;
    margin-bottom: 3.945rem;
    border-width: 0 0 0.2rem 0;
    border-style:solid;
    border-color: #a3a3a3;
}
.about-me-container {
    display:flex;
    justify-content: space-between;

}

.about-me-container .art-text {
    max-width:70%;
}

#portrait {
    max-height:20rem;
    max-width:20rem;
    padding-right: 7rem;
}

/*projects*/
#projects {
    padding-bottom: 3rem;
    margin-bottom: 3.945rem;
    border-width: 0 0 0.2rem 0;
    border-style:solid;
    border-color: #a3a3a3;
}

.project-cards {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    padding-top: 1rem;
}

.project-card {
    width: 20rem;
    border-style: solid;
    border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
    border-color: #a3a3a3;
    padding: 1rem 0 1rem 0;
    cursor:pointer;
}

.project-card:hover {
    border-color:#ff0000;
    color:#ff0000;
    box-shadow: 1rem 1rem #a3a3a3;

}

.project-image {
    max-width: 16rem;
}

/*skills*/
#skills {
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    /*border-width: 0 0 0.2rem 0;
    border-style:solid;
    border-color: #a3a3a3;*/
}

#skills-container {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    font-size:2rem;
}